.pagina-inicial {
  background-color: #f9f9fa;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagina-inicial .conteudo {
  background-color: #f9f9fa;
  height: 1500px;
  position: relative;
  width: 1440px;
}

.pagina-inicial .cabecalho {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 50px;
}

.pagina-inicial .titulo {
  color: #212121;
  font-size: 25px;
  font-weight: 900;
  text-align: left;
}

.pagina-inicial .descricao {
  color: #424242;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.pagina-inicial .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin-top: 20px;
}

.pagina-inicial .botao-primario {
  width: 300px;
  height: 50px;
  background-color: #0a2647;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.pagina-inicial .botao-primario:hover {
  background-color: #083366;
}

.pagina-inicial .imagem {
  position: absolute;
  left: 0;
  top: 0;
  height: 900px;
  object-fit: cover;
  width: 525px;
}

.pagina-inicial .ajuda {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #424242;
  font-size: 12px;
}

.pagina-inicial .icone-info {
  width: 18px;
  height: 18px;
}
