/* Estilos principais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center; /* Centraliza a sidebar e o conteúdo horizontalmente */
    align-items: center;     /* Centraliza o conteúdo verticalmente */
}

.sidebar {
    width: 250px;
    background-color: #112D4E;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    margin: 15px 0;
    cursor: pointer;
    text-align: center;
}

.active {
    font-weight: bold;
}

.logout {
    margin-top: auto;
    background: none;
    border: none;
    color: red;
    font-size: 14px;
    cursor: pointer;
}

.content {
    background-color: #f8f9fb;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.availability-form {
    background: #3282B8;
    padding: 40px; /* Aumentando o padding para dar mais espaço interno */
    border-radius: 12px;
    box-shadow: 0 0 15px #3282B8;
    width: 80%; /* Ajustando a largura do formulário */
    max-width: 900px; /* Definindo uma largura máxima maior */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group,
.date-time-group {
    margin-bottom: 20px;
}

.input-group label,
.date-time-group label {
    font-size: 14px;
    font-weight: bold;
}

.input-group select,
.date-time-group select {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
}

.date-time-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.submit-button {
    margin-top: 20px;
    padding: 14px;
    background-color: #112D4E;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #0e233c;
}
